datadog==0.17.0
altgraph==0.16.1
asn1crypto==0.24.0
backports.functools-lru-cache==1.5
# cdecimal==2.3
m3-cdecimal
cffi==1.11.5
configparser==3.5.0
cryptography==2.3.1
cycler==0.10.0
dis3==0.1.2
enum34==1.1.6
future==0.16.0
idna==2.7
ipaddress==1.0.22
macholib==1.11
matplotlib==2.1.0
numpy==1.15.0
pandas==0.14.0
pefile==2018.8.8
petl==1.1.1
pycparser==2.19
PyInstaller==3.4
pyodbc==3.0.10
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
pywin32-ctypes==0.2.0
six==1.11.0